@use "../abstracts/mixins" as mixins;

@include mixins.export-font-vars();

.h1 { @include mixins.display(xl); }
.h2 { @include mixins.display(lg); }
.h3 { @include mixins.display(md); }
.h4 { @include mixins.display(sm); }

.subheading { @include mixins.heading(sub); }

p, .text { @include mixins.body(xs); }